/*basic chapter start*/

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;
    
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*basic chapter end*/

/*--------------------------------------------------------------------------------------*/

/*header start*/

.header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;                                 /*покрывает всю ширину экрана, сколько бы не > or < размер*/
    background-repeat: no-repeat;                           /*без повторений*/
    min-height: 100vh;                                          /*полная высота картинки*/
    background-position: center;
    position: relative;
}

.header::before{
    content: "";
    position: absolute;
}

.header-top{
    display: flex;
    align-items: center;
    padding: 57px 0;
    gap: 100px;
    justify-content: flex-end;

    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px; 
}

.logo path{
    transition: fill .3s ease;                                 /*плавная анимация перехода в цвет*/
}

.logo:hover path{
    fill: #0093A1;
}

.header-btn{
    text-transform: uppercase;
    color: #fff;
    padding: 12px 71px 8.46px 71px;
    background-color: #262C27;
    border: none;
    cursor: pointer;
}

.header-content{
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-content-box{
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.header-title{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 71px;
}

.header-text{
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 20px;
}

.header-decor-text{
    position: absolute;
    top: 0;
}
